<form action="/add" method="POST">
    <p>Título: </p>
    <input type="tex" name="titulo">
    <p>Conteúdo</p>
    <textarea name="conteudo" id="" cols="" rows=""></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>